/* .container{
  display: flex;
  justify-content: center;

}

img {
    width: 700px;
    height: auto
  } */

  /* CSS */
/* .flip-container {
  perspective: 1000px;
} */

.flipper {
  transition: transform 0.6s ease-in;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.fa-chevron-down {
  font-size: 24px;
}

.flipper:hover {
  transform: rotateY(180deg);
}